main {
    background-size: 100% 100% !important;
    background: linear-gradient(15deg, #1dc9a3 0%, #1d516e 50%, #06071c 100%) center;
    height: 100vh;

    margin:0;
    padding:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-align: center;
}

.content {
    font-size: 5vh;
}
