@use 'styles/auth';
@use 'styles/vars';
@use 'styles/toast';

@font-face {
    font-family: quicksand;
    src: url('/fonts/quicksand.ttf');
}

@font-face {
    font-family: nunito;
    src: url('/fonts/nunito.ttf');
}

* {
    font-family: nunito;
}

body {
    margin:0;
    padding:0;
}

input {
    background-color: var(--inp-bg);
    border: solid 1px var(--inp-bd);
    border-radius: 8px;
    padding: 9px 7px;
    font-size: 1em;
    color: var(--font-color);
    display: block;
    margin: 7px auto;
    transition: all .2s ease-in-out;
    max-width: calc(100% - 14px);
}
input:focus {
    outline: none;
    border: solid 1px var(--inp-focus-bd);
    background-color: var(--inp-focus-bg);
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 9px;
    font-size: 1em;
    color: black;
    display: block;
    margin: 7px auto;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: var(--main-color);
    backface-visibility: hidden;
}

a {
    color: var(--main-color);
}





@media only screen and (max-width: 850px) {
    
}

