#main {
    background-size: 100% 100% !important;
    background: var(--bg-gradient);
    height: 100vh;

    margin:0;
    padding:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: white;
    text-align: center;
}

#login_ctn {
    background-color: var(--ctn-bg);
    box-shadow: var(--ctn-shadow);
    height: 50%;
    width: 50%;
    min-width: 600px;
    border-radius: 1.5em;
    text-align: center;
    max-width: 670px;
    display: flex
;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    
}

#pass {
    width: calc(100% - 4em);
    padding-right: 2em;
}

#login_form {
    width: max-content;
    margin: 0 auto;
    height: max-content;
}

#pass_eye {
    position: absolute;
    color: var(--main-color);
    right: -13px;
    font-size: 1em;
    top: calc(50%);
    translate: -100% -50%;
    cursor: pointer;
    padding: 11px 5px;
}

#pass_ctn {
    position: relative;
}

#logo {
    height: 9em;
}

#valbt {
    width: 100%;
    transition: all .2s ease-in-out;
    margin-top: 1em;
}

.content {
    font-size: 5vh;
}

@media screen and (max-aspect-ratio: 1/1) {
    #login_ctn {
        width: 90%;
        min-width: 0;
        height: 50%;
        max-width: 100%;
    }
}