<div class="main">
    <div class="auth_ctn">
        <img class="logo" src="/soundpool.png" />

        <p class="err"></p>

        <form (submit)="register()" class="auth_form" method="POST">
            <input [(ngModel)]="username" (keydown)="resetErr()" (change)="resetErr()" type="text" class="user" autocomplete="username" name="username" [placeholder]="'username' | translate" required />
            <input [(ngModel)]="mail" (keydown)="resetErr()" (change)="resetErr()" type="email" class="user" autocomplete="email" name="mail" [placeholder]="'email_address' | translate" required />
            <div class="pass_ctn">
                <input [(ngModel)]="password" (keydown)="resetErr()" (change)="resetErr()" [type]="this.passwordVisible ? 'text' : 'password'" class="pass" name="password" autocomplete="current-password" [placeholder]="'password' | translate" required />
                <fa-icon class='pass_eye' (click)="showPass();" [icon]="this.passwordVisible ? ['far', 'eye-slash']: ['far', 'eye']"></fa-icon>
            </div>

            <p class="errmsg">{{errmsg}}</p>

            <button type="submit" class="valbt">{{'continue' | translate}}</button>
        </form>
        <p class="bottom_msg">{{'already_account_msg' | translate}} <a href="/login">{{'here' | translate}}</a></p>
    </div>
</div>